@page
@model KatieComedy.Web.Pages.Admin.Appearances.IndexModel

@{
    ViewData["Title"] = "Appearances";
}

<div class="flex-column container p-0 custom-large">
    <div class="mb-3 d-flex justify-content-between">
        <h4 class="mb-0">@ViewData["Title"]</h4>
        <a asp-page="new" class="btn btn-primary">New</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Venue</th>
                <th scope="col">Event</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        @foreach (var appearance in Model.Appearances)
        {
            <tr>
                <td>@appearance.Id</td>
                <td>@appearance.DateTime.ToString("M/d/yy h:mm tt")</td>
                <td>
                    @if (string.IsNullOrEmpty(appearance.VenueUrl))
                    {
                        <text>@appearance.VenueName</text>
                    }
                    else
                    {
                        <text>
                            <a href="@appearance.VenueUrl" target="_blank">@appearance.VenueName</a>
                        </text>
                    }
                </td>
                <td>
                    @if (string.IsNullOrEmpty(appearance.EventUrl))
                    {
                        <text>@appearance.EventName</text>
                    }
                    else
                    {
                        <text>
                            <a href="@appearance.EventUrl" target="_blank">@appearance.EventName</a>
                        </text>
                    }
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-page="edit" asp-route-id="@appearance.Id" class="btn btn-primary">Edit</a>
                        <form method="post" action="~/admin/appearances/delete/@appearance.Id">
                            <button class="btn btn-danger rounded-start-0">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>