@page
@model KatieComedy.Web.Pages.Admin.Photos.IndexModel

@{
    ViewData["Title"] = "Photos";
}

<div class="flex-column">
    <div class="mb-3 d-flex justify-content-between">
        <h4 class="mb-0">@ViewData["Title"]</h4>
        <a asp-page="upload" class="btn btn-primary">Upload</a>
    </div>

    <div class="row">
        @foreach (var photo in Model.Photos)
        {
            <div class="card p-3 m-2" style="width: 15rem;">
                <a href="@photo.Url" class="mb-1" target="_blank">
                    <img src="@photo.ThumbnailUrl" class="card-img-top">
                </a>
                <div class="card-body ps-1 pe-1 pt-1 pb-0">
                    <p class="card-text">
                        @photo.DisplayText
                    </p>
                    <div class="btn-group" role="group">
                        <a asp-page="edit" asp-route-id="@photo.Id" class="btn btn-primary">Edit</a>
                        <form method="post" class="d-inline" action="~/admin/photos/delete/@photo.Id">
                            <button class="btn btn-danger  rounded-start-0">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>